html,
body {
  margin: 0;
  padding: 0;
  font-family: ui-sans-serif, system-ui, sans-serif, "Noto Color Emoji",
    "Times New Roman", Times, serif, Arial, sans-serif;
  height: 100vh;
  display: flex;
}

#sidebar {
  width: fit-content;
  background-color: #f4f4f4;
  padding: 12px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#sidebar .sidebar-search {
  display: inline-flex;
  vertical-align: top;
  margin: 16px 8px;
  column-gap: 10px;
}

#search-form {
  display: flex;
  gap: 10px;
  color: #000;
  position: relative;
}

#search-form > .search-input-icon {
  position: absolute;
  left: 8px;
  top: calc(
    50% - 0.5em
  ); /* Keep icon in center of input, regardless of the input height */
  color: #777;
}

input[type="search"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

input[type="search"]::placeholder {
  position: absolute;
  margin-left: 20px;
  color: darkgray;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

nav ul.sidebar-list {
  list-style-type: none;
  padding: 0;
  margin: 16px 12px;
}

nav li.sidebar-list-item {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 14px;
}

nav li.sidebar-list-item a {
  text-decoration: none;
  color: darkgrey;
  font-weight: 400;
}

nav a:hover {
  text-decoration: underline;
}

#badge {
  margin-top: auto; /* Push it to the bottom */
  color: rgba(0, 0, 0, 0.7);
  font-weight: 800;
  padding-top: 10px;
  margin-left: 16px;
  margin-right: 16px;
}

#content {
  flex: 1;
  padding: 20px;
}
